* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #ccc;
}

header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
  position: fixed;
}

header ul {
  display: flex;
  list-style: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

header ul li {
  padding: 1rem;
}

